<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Train</title>
    @*@Styles.Render("~/Content/css")*@ 
    @Scripts.Render("~/bundles/lib")
    <noscript>
        <link href="~/Content/skel.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" />
        <link href="~/Content/style-desktop.css" rel="stylesheet" />
    </noscript>
</head>
<body>

    <!-- Header -->
    <div id="header-region">
        <div id="header-wrapper" class="wrapper">
            <div id="header">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="/">English Train</a></h1>
                    <p>Инновационный ресурс для изучения английского языка</p>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="/study">Обучение</a></li>
                        <li><a href="/words">Мои слова</a></li>
                        <li><a href="/films">Мои фильмы</a></li>
                        <li><a href="/books">Мои книги</a></li>
                        <li><a href="/settings">Настройки</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <!-- Main -->
    <div id="main-region">
    </div>

    @RenderBody()
    <script src="@Scripts.Url("~/bundles/templates")"></script>
    @Scripts.Render("~/bundles/app")

    <script>
        $(function () {
            App.start();
            $('nav a').on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                App.navigate($(e.target).attr('href').replace('/', ''), { trigger: true });
            });
            $('#logo a').on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                App.navigate('', { trigger: true });
            })
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
